#addressBookWidgetDiv {
  min-width: 300px;
  max-width: 900px;
}

.amazonCheckoutWidget {
  height: 200px;
  width: 450px;
  min-width: 300px;
  margin: 0 auto;
  margin-bottom: 20px;
}

/* #walletWidgetDiv {
  min-width: 300px;
  width: 100%;
  max-width: 900px;
  min-height: 228px;
  height: 240px;
  max-height: 400px;
} */

/* The following are required only when you use the read-only widgets: */

#readOnlyAddressBookWidgetDiv {
  min-width: 266px;
  width: 100%;
  max-width: 900px;
  min-height: 145px;
  height: 165px;
  max-height: 180px;
}

#readOnlyWalletWidgetDiv {
  min-width: 266px;
  width: 100%;
  max-width: 900px;
  min-height: 145px;
  height: 165px;
  max-height: 180px;
}

.parallel-btn {
  background-color: #202020;
  width: 180px;
  height: 35px;
  line-height: 35px;
  margin: 0 auto;
  transform: skew(-40deg, 0deg);
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
}

.parallel-btn .btn-text {
  transform: skew(40deg, 0deg);
  color: white;
}

@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans/OpenSans-Regular.ttf);
}

@font-face {
  font-family: Yan;
  src: url(../fonts/Yantramanav/Yantramanav-Regular.ttf);
}

@font-face {
  font-family: Yan;
  src: url(../fonts/Yantramanav/Yantramanav-Medium.ttf);
  font-weight: 600;
}

@font-face {
  font-family: Yan;
  src: url(../fonts/Yantramanav/Yantramanav-Bold.ttf);
  font-weight: bold;
}

/* Donatio Style! */

.donatio-container-two {
  background: linear-gradient(290deg, #e196b3, rgba(255, 0, 0, 0) 70.71%),
    linear-gradient(7deg, #93a0c8, rgba(0, 255, 0, 0) 70.71%);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.donatio-container-two .donatio-center-padd {
  width: 1520px;
  min-width: 800px;
  margin: 0 auto;
}

.donatio-container-two,
.donatio-container {
  font-family: OpenSans;
}

.donatio-container-two .body-contents {
  margin-top: 30px;
}

.donatio-navbar {
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
  height: 50px;
  align-items: center;
}

.donatio-navbar .navbar-left,
.donatio-navbar .navbar-right {
  flex-grow: 1;
}

.donatio-navbar .navbar-left .logo-box,
.donatio-navbar .navbar-left .logo-text {
  display: inline-block;
  vertical-align: top;
}

.donatio-navbar .navbar-left .logo-text {
  font-family: Yan;
  font-weight: 600;
  font-size: 24px;
  line-height: 50px;
}

.donatio-navbar .navbar-left .logo-box {
  width: 55px;
  height: 55px;
  text-align: center;
}

.donate-prompt-pay {
  font-family: Yan;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 20px;
}

/* Email Confirmation Style */
.email-confirm-field-container {
  height: 255px;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: -127.5px;
  z-index: 2;
}

.password-confirm-field-container {
  height: 305px;
  position: absolute;
  z-index: 1;
  top: 85%;
  left: 0;
  opacity: 0;
  right: 0;
  margin-top: -152.5px;
  font-size: 20px;
}

.password-confirm-center {
  width: 400px;
  margin: 0 auto;
}

.email-confirm-field-container .email-confirm-center {
  width: 400px;
  margin: 0 auto;
}

.email-confirm-field-container .email-confirm-center .field-label,
.password-confirm-center .field-label {
  font-size: 20px;
}

.donatio-input-field {
  width: 100%;
  height: 35px;
  padding: 0 15px;
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 10px;
}

.donatio-confirm-button {
  background-color: black;
  color: white;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  border-radius: 3px;
  font-size: 18px;
}
