#addressBookWidgetDiv {
  min-width: 300px;
  width: 100%;
  max-width: 900px;
}

.amazonCheckoutWidget {
  height: 200px;
  width: 450px;
  min-width: 300px;
  margin: 0 auto;
}

/* #walletWidgetDiv {
  min-width: 300px;
  width: 100%;
  max-width: 900px;
  min-height: 228px;
  height: 240px;
  max-height: 400px;
} */

/* The following are required only when you use the read-only widgets: */

#readOnlyAddressBookWidgetDiv {
  min-width: 266px;
  width: 100%;
  max-width: 900px;
  min-height: 145px;
  height: 165px;
  max-height: 180px;
}

#readOnlyWalletWidgetDiv {
  min-width: 266px;
  width: 100%;
  max-width: 900px;
  min-height: 145px;
  height: 165px;
  max-height: 180px;
}

.parallel-btn {
  background-color: #202020;
  width: 180px;
  height: 35px;
  line-height: 35px;
  margin: 0 auto;
  transform: skew(-40deg, 0deg);
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
}

.parallel-btn .btn-text {
  transform: skew(40deg, 0deg);
  color: white;
}

@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans/OpenSans-Regular.ttf);
}

@font-face {
  font-family: Yan;
  src: url(../fonts/Yantramanav/Yantramanav-Regular.ttf);
}

@font-face {
  font-family: Yan;
  src: url(../fonts/Yantramanav/Yantramanav-Medium.ttf);
  font-weight: 600;
}

@font-face {
  font-family: Yan;
  src: url(../fonts/Yantramanav/Yantramanav-Bold.ttf);
  font-weight: bold;
}

/* Donatio Style! */

.donatio-container-two {
  background: linear-gradient(290deg, #e196b3, rgba(255, 0, 0, 0) 70.71%),
    linear-gradient(7deg, #93a0c8, rgba(0, 255, 0, 0) 70.71%);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.donatio-container-two .donatio-center-padd {
  width: 1520px;
  min-width: 800px;
  margin: 0 auto;
}

.donatio-container-two,
.donatio-container {
  font-family: OpenSans;
}

.donatio-container-two .body-contents {
  margin-top: 30px;
}

.donatio-navbar {
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
}

.donatio-navbar .navbar-left,
.donatio-navbar .navbar-right {
  flex-grow: 1;
}

.donatio-navbar .navbar-left .logo-box,
.donatio-navbar .navbar-left .logo-text {
  display: inline-block;
  vertical-align: middle;
}

.donatio-navbar .navbar-left .logo-text {
  font-family: Yan;
  font-weight: 600;
}
